<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Copyright 2015 BlackBerry Ltd.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.

 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 express or implied. See the License for the specific language
 governing permissions and limitations under the License. -->

    <widget id="com.ionicframework.tsteas402986" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <name>tsteas</name>
        <description>
            An Ionic Framework and Cordova project.
        </description>
        <author email="hi@ionicframework" href="http://ionicframework.com/">
            Ionic Framework Team
        </author>
        <content src="index.html" />
        <access origin="*" />
        <!-- disable web security -->
        <preference name="websecurity" value="disable" />
        <!-- allow access to shared files -->
        <rim:permissions>
            <rim:permit>access_shared</rim:permit>
        </rim:permissions>
    </widget>
